.roche_caillans {
    background-image: url('/images/mini_roche_caillans.png');
}

.roche_minus {
    background-image: url('/images/mini_roche_minus.png');
}

.roche_brutus {
    background-image: url('/images/mini_roche_brutus.png');
}
