.festival-event-image {
  width: 1024px;
  max-width: 100%;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 767px) {
  .festival-event-image {
    height: 300px;
  }
  .fest_2024_image {
    height: 350px;
    font-size: 2rem;
  }
  .parallax-image {
    opacity: 0.2;
  }

}

@media (min-width: 768px) {
  .fest_2024_image {
    height: 600px;
    font-size: 4rem;
  }
}

