@import "project_page";
@import "story_page";
@import "nav";
@import "festival";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: cameo;
  src: url(CameoSansDEMO.ttf);
}


@media (max-width: 767px) {
  * {
    -webkit-tap-highlight-color: transparent;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cameo', cursive;
}

p, span, a, li {
  font-family: 'Raleway', "Open Sans", sans-serif;
}

@layer utilities {
  @variants responsive {
    .top-1 {
      top: 1rem;
    }

    .top-2 {
      top: 2rem;
    }

    .top-3 {
      top: 3rem;
    }

    .top-4 {
      top: 4rem;
    }

    .top-5 {
      top: 5rem;
    }
  }

  .w-85 {
    width: 34rem;;
  }

  .font-amatic {
    font-family: 'Amatic SC', cursive;
  }

  .font-cameo {
    font-family: 'cameo', cursive;
  }

  .fade-in {
    animation: fadeIn ease 4s;
    -webkit-animation: fadeIn ease 4s;
  }

  .fade-out {
    animation: fadeOut ease 1s;
    animation-fill-mode: forwards;
  }

  .cursor-none {
    cursor: none;
  }

}

.white {
  color: white;
}

.text-gradient-color {
  background: -webkit-linear-gradient(45deg, #e54c21 40%, #1C4BED 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 768px) {
  .mobile-only {
    display: none;
  }
}

@media (max-width: 768px) {
  .desktop-only {
    display: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* EXPLORATION ROCK */

.roche {
  z-index: 10;
  position: relative;
  margin: auto;
  transition: filter 0.5s;
  text-align: center;
}

@media (min-width: 767px) {

  .roche {
    filter: brightness(0);

    &[data-depth="3"], &[data-depth="3"] .roche-img {
      width: 200px;
      height: 200px;
      background-size: 200px 200px;
    }

    &[data-depth="2"], &[data-depth="2"] .roche-img {
      width: 170px;
      height: 170px;
      background-size: 170px 170px;
    }

    &[data-depth="1"], &[data-depth="1"] .roche-img {
      width: 150px;
      height: 150px;
      background-size: 150px 150px;
    }

  }

  .roche .text {
    opacity: 0;
    color: #dedede;
  }
}

@media (max-width: 767px) {
  .roche {
    &[data-depth="3"], &[data-depth="3"] .roche-img {
      width: 100px;
      height: 100px;
      background-size: 100px 100px;
    }

    &[data-depth="2"], &[data-depth="2"] .roche-img {
      width: 90px;
      height: 90px;
      background-size: 90px 90px;
    }

    &[data-depth="1"], &[data-depth="1"] .roche-img {
      width: 80px;
      height: 80px;
      background-size: 80px 80px;
    }
    .text {
      color: white;
    }
  }


}

.roche .text {
  width: 60%;
  transition: opacity 0.5s;
}

.roche:hover .text {
  opacity: 1;
  color: white;
  transition: opacity 0.5s;
}

.roche-img {
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(-3px 9px 7px black);
  background-position: center;
}

.roche:hover {
  transition: filter 0.5s;
  filter: brightness(1.5);
  -webkit-filter: brightness(1.5);
}


/* HOME PAGE */
.homepage-explore {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 55vh;
}

.homepage-explore > svg {
  z-index: 1;
  margin: 10px;
  width: 140px;
  height: auto;
}

@media (min-width: 768px) {
    .homepage-explore > svg {
        width: 120px;
    }
}

@media (max-width: 767px) {
    .homepage-explore > svg {
        width: 140px;
    }
}

.homepage-explore > span {
  top: 66px;
  left: 20px;
}

@media (min-width: 768px) {
  .homepage-explore > span {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .homepage-explore > span {
    font-size: 24px;
  }
}

.homepage-explore > svg .light-beam {
  opacity: 0;
  transition: fill 0.3s;
}

.homepage-explore > svg:hover .light-beam {
  fill: #e54c21 !important;
  opacity: 1;
  transition: fill 0.3s;
}

.homepage-explore > svg, .homepage-explore > span {
  cursor: pointer;
}

@media (min-width: 768px) {
  .homepage-footer {
    padding-top: calc(100vh - 336px);
  }
}

@media (max-width: 767px) {
  .homepage-footer {
    padding-top: calc(45vh - 358px);
  }
}

@media (min-width: 768px) {
  .homepage-explore {
    position: absolute;
    padding-top: 55vh;
  }
}

@media (max-width: 767px) {
  .homepage-explore {
    padding-top: 32vh;
  }
}

/* ------ Exploration Page ------- */

body {
  background-color: black;
}

#exploration {
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  pointer-events: all;
}

#exploration .fonds {
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(1.2);
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#exploration .returnLink {
  position: absolute;
  border-radius: 73px;
  margin-left: 5px;
  margin-top: 5px;
  transition: 0.3s ease;
}

#exploration .returnLink:hover {
  text-shadow: #000 2px 2px 1px;
  transition: 0.3s ease;
}

#exploration .returnLink a {
  display: flex;
  padding: 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

svg.exploration {
  width: 100vw;
  height: 100vh;
  cursor: none;
  color: #0b0b0b;
}

.button-rock-1 {
  clip-path: polygon(2% 1%, 1% 3%, 0.5% 10%, 0% 15%, 0.5% 20%, 0% 25%, 0.1% 30%, 0% 35%, 0% 40%, 0% 45%, 0% 50%, 0% 55%, 0% 60%, 0% 65%, 0.5% 70%, 1% 75%, 1% 80%, 1.5% 85%, 3% 88%, 5% 91%, 7% 92%, 10% 94%, 13% 95%, 16% 96%, 19% 96.5%, 23% 98%, 26% 97.7%, 30% 97.3%, 34% 97%, 38% 97%, 42% 97%, 46% 97%, 50% 97%, 54% 97%, 58% 97%, 62% 96.5%, 66% 96%, 70% 96%, 74% 97%, 78% 98%, 82% 99%, 86% 99.5%, 89% 99%, 92% 98.5%, 94% 98%, 96% 97%, 97% 96%, 98% 94%, 99% 92%, 99.5% 89%, 100% 85%, 99.5% 80%, 99.9% 75%, 99.8% 70%, 99.6% 65%, 99.5% 60%, 99% 55%, 98.5% 50%, 99.2% 45%, 99.3% 34.2%, 98% 35%, 97.5% 30%, 97% 25%, 96% 18%, 94% 15%, 93% 10%, 92% 5%, 90% 2%, 88% 0%, 85% 0%, 80% 1%, 75% 2%, 70% 3%, 65% 4%, 60% 4%, 55% 4%, 50% 4%, 45% 4%, 40% 4%, 35% 4%, 30% 4%, 25% 4%, 20% 4%, 15% 3%, 10% 2%, 7% 2%, 5% 1%, 3% 0.5%, 2% 1%);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200'%3E%3Cdefs%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='3' result='noise'/%3E%3CfeColorMatrix in='noise' type='saturate' values='0'/%3E%3C/filter%3E%3Cpattern id='rockPattern' patternUnits='userSpaceOnUse' width='200' height='200'%3E%3Crect x='0' y='0' width='200' height='200' fill='rgb(79%2C 128%2C 193)' filter='url(%23noiseFilter)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect width='100%' height='100%' fill='url(%23rockPattern)'/%3E%3C/svg%3E");
  background-size: cover;
  background-color: rgb(3, 61, 136);
  color: white;
  padding: 20px;
  display: inline-block;
}

.image-clip-1 {
  clip-path: polygon(2% 1%, 1% 3%, 0.5% 10%, 0% 15%, 0.5% 20%, 0% 25%, 0.1% 30%, 0% 35%, 0% 40%, 0% 45%, 0% 50%, 0% 55%, 0% 60%, 0% 65%, 0.5% 70%, 1% 75%, 1% 80%, 1.5% 85%, 3% 88%, 5% 91%, 7% 92%, 10% 94%, 13% 95%, 16% 96%, 19% 96.5%, 23% 98%, 26% 97.7%, 30% 97.3%, 34% 97%, 38% 97%, 42% 97%, 46% 97%, 50% 97%, 54% 97%, 58% 97%, 62% 96.5%, 66% 96%, 70% 96%, 74% 97%, 78% 98%, 82% 99%, 86% 99.5%, 89% 99%, 92% 98.5%, 94% 98%, 96% 97%, 97% 96%, 98% 94%, 99% 92%, 99.5% 89%, 100% 85%, 99.5% 80%, 99.9% 75%, 99.8% 70%, 99.6% 65%, 99.5% 60%, 99% 55%, 98.5% 50%, 99.2% 45%, 99.3% 40.2%, 99.4% 37.4%, 97.5% 27%, 97% 25%, 95% 18%, 94% 15%, 93% 10%, 92% 5%, 90% 2%, 88% 0%, 85% 0%, 80% 1%, 75% 2%, 70% 3%, 65% 4%, 60% 4%, 55% 4%, 50% 4%, 45% 4%, 40% 4%, 35% 4%, 30% 4%, 25% 4%, 20% 4%, 15% 3%, 10% 2%, 7% 2%, 5% 1%, 3% 0.5%, 2% 1%)
}

.image-clip-2 {
  clip-path: polygon(2% 3%, 1% 5%, 1% 12%, 0.5% 18%, 1% 23%, 0.5% 29%, 0.6% 34%, 0.4% 39%, 0.2% 45%, 0.5% 50%, 0.8% 55%, 0% 60%, 0.3% 65%, 1% 70%, 1.2% 75%, 1.8% 80%, 2% 85%, 4% 88%, 6% 91%, 8% 92%, 11% 94%, 14% 95%, 17% 96%, 21% 96.5%, 25% 97.5%, 29% 97.2%, 33% 97%, 37% 97%, 41% 97%, 45% 97%, 49% 97%, 53% 97%, 57% 97%, 61% 96.5%, 65% 96%, 69% 95%, 73% 94%, 77% 93%, 81% 92%, 85% 91%, 89% 90%, 92% 89%, 95% 87%, 97% 85%, 98% 83%, 99% 80%, 99.5% 75%, 99.7% 70%, 99.5% 65%, 99% 60%, 98.5% 55%, 98% 50%, 97.5% 45%, 97% 40%, 96.5% 35%, 96.2% 30%, 96.1% 25%, 95% 20%, 95.8% 15%, 95.8% 12%, 94% 8%, 90% 5%, 88% 3%, 83% 1%, 78% 0%, 74% 0%, 70% 1%, 66% 2%, 62% 3%, 58% 4%, 54% 4%, 50% 4%, 46% 4%, 42% 4%, 38% 4%, 34% 4%, 30% 3%, 26% 2%, 22% 1.5%, 18% 1%, 14% 0.7%, 10% 0.5%, 6% 0.3%, 4% 1%)
}

