/* width */
::-webkit-scrollbar {
  width: 7px;
}

// firefox
* {
  scrollbar-width: thin;
  scrollbar-color: #4a4a4a white;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4a4a4a;
  border-radius: 1px;
}

.ProjectPage {
  h2 {
    font-size: 4rem;
    font-family: 'cameo', cursive;
    padding: 3rem 0 1rem;
  }

  @media (max-width: 767px) {
    h2 {
      font-size: 2rem;
    }
  }
}
