.ProjectPage {
  h2 {
    font-size: 2rem;
    font-family: 'cameo', cursive;
    padding: 3rem 0 1rem;
  }

  @media (max-width: 767px) {
    h2 {
      font-size: 2rem;
    }
  }
}

.project-rock {
  @media (min-width: 768px) {
    rotate: -9deg;
  }
}